* {
  @include box-sizing;
  line-height: 1.45;
}

html,
body {
  color: $default-color;
  margin: 0;
  padding: 0;
}

html { /* phone */
  font-family: $serif;
  font-size: 18px;
  overflow-y: scroll;
  font-variant-numeric: oldstyle-nums;
  hyphens: auto;
  
  @media (min-width: 600px) {  /* desktop */
    font-size: 18px;
  	hyphens: auto;
  }
}


body {
  -webkit-text-size-adjust: 100%;
}

h2 {
	color: $my-red;
}

h1,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: $serif;
  line-height: normal;
}

 
.post h1 { /* hero text */
	text-align: center;
	&:before {
		content: open-quote;
	}
	&:after {
		content: close-quote;
	}
}


a {
  color: $grey-1;
  text-decoration: none;
}

blockquote {
  font-style: italic;
  border-left: .25rem solid $grey-2;
  color: $grey-1;
  margin: .8rem 0;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}
