.catalogue {

  &-item {
    color: $grey-1;
    display: block;
    padding: 1.2rem 0;
    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }

  }

  &-pinned {
    font-size: 14px;
    color: $default-tint;
    font-family: $monospaced;
    @media (max-width: 480px) {  /* phone */
    	font-size: 12px;
    }
  }

  &-time {
    font-size: 14px;
    color: $default-tint;
    font-family: $monospaced;
    @media (max-width: 480px) {  /* phone */
    	font-size: 12px;
    }
  }

  &-title {
    @include transition(all .2s ease-out);
    color: black;
    display: block;
    font-family: $sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin: .5rem 0;
    
    &:hover,
  	&:focus {
    	color: $my-red;
 	}
 	
 	@media (max-width: 480px) {  /* phone */
    	font-size: 20px;
    }
  }
  
  p {
  	margin: 0.4em 0;
  }

}
