.container {
  margin: 0 auto;
  max-width: 740px;
  width: 88%;
}

main,
footer,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 740px;
  width: 88%;
}

.nav {
  overflow: auto;

  &-container {
    margin: 2rem auto;
    position: relative;
    text-align: center;
  }

  &-title {
    font-size: 20px;
    display: inline-block;
    margin: 0;
    padding-right: .2rem;
    font-family: $monospaced;
    font-weight: bold;
    color: $my-red;
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
  }

  li {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    padding: 0 2rem 0 0;

    &:last-child {
      padding-right: 0;
    }

  }

  a {
	@include transition(all .2s ease-out);
    color: $grey-1;
    font-family: $sans-serif;
    &:hover,
    &:focus {
      color: $my-red;
    }
  }
  
}

@media (min-width: 600px) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}

footer {
  font-family: $sans-serif;
  padding: 2rem 0;
  text-align: center;

  span {
    color: $default-color;
    font-size: .8rem;
  }
}
